.App {
  text-align: center;
}

/* MY CSS STARTS HERE */
.card-container{
  border:1px solid green;
  border-width: 40px;
}

.character-img{
  height:230px;
  width: 230px;
}

img {
  height: 170px;
  width: 230px;
}

/* Nav bar css */
.dark-mode{
  color:#fff;
  background-color: #313843;
}